* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #eef0ff;
    overflow: hidden;
    overflow-y: scroll;
}

:root {
    --color: #4c6366;
    --color2: #cdf1d9;
    --color4: #556b6b;
    --color4: #566b55;
    --color5: #4e4343;
}

header {
    position: fixed;
    z-index: 9;
    top: 0;
    background-color: #cdf1d9;
    font-variant: small-caps;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
}

header nav {
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
}

header ul {
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
    white-space: nowrap;
    height: 100%;
}

ul li {
    /* margin: 10px; */
    background-color: #9cb8a5;
    padding: 10px 10px;
    height: 80%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: #424e46;
    transition: all 0.3s ease;
}

main {
    padding-top: 45px;
    height: 900px;
    width: clamp(300px, 100%, 1100px);
    display: flex;
    gap: 5px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
}

main section {
    height: 900px;
    width: clamp(300px, 100%, 500px);
    padding: 20px;
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    overflow-y: scroll;
}

footer {
    height: 45px;
    width: 100%;
    display: flex;
    /* position: fixed; */
    bottom: 0;
    z-index: 9;
    justify-content: center;
    align-items: center;
    background-color: #cdf1d9;
}

#burger-menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* width: 35px; */
    height: 80%;
    aspect-ratio: 1;
    background-color: #9cb8a5;
    border-radius: 5px;
    justify-self: flex-start;
    margin-right: 10px;
    /* position: fixed; */
    /* left: 0; */
    cursor: pointer;
    padding: 5px;
    border: none;
    position: relative;
}

#burger-menu {
    max-height: 100vh;
    /* width: clamp(300px, 40vw, 500px); */
    max-width: 0px;
    background-color: #9cb8a5;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll;
}
#burger-menu a {
    text-decoration: none;
    color: #424e46;
    padding: 5px;

}

/* #burger-menu a:hover {
    background-color: #424e46;
    color: #9cb8a5;
}

#burger-menu-btn:hover {
    background-color: #424e46;
}

#burger-menu-btn:hover .bread {
    background-color: #9cb8a5;
    position: absolute;
}

#burger-menu-btn:hover .bread:nth-child(1) {
    transform: rotate(45deg);
}

#burger-menu-btn:hover .bread:nth-child(3) {
    transform: rotate(-45deg);
}

#burger-menu-btn:hover .bread:nth-child(2) {
     opacity: 0;
} */


.bread {
    width: 80%;
    height: 10%;
    background-color: #424e46;
}


